  ##                                         PYTHON - DATA STRUCTURE

# DATA TYPES AND STRUCTURES QUSETIONS

1. What are data structures, and why are they important ?

        ans =  It way of organizing & storing data so that it can be accessed & manipulated efficiently .
        ex = lists, tuples, sets, dictionaries.
        Importance =  They help manage data efficiently, improve performance, and allow solving problems in less time.

2. Explain the difference between mutable and immutable data types with examples ?

        ans = Mutable → Can be changed after creation.
        example: list, dict, set.
        Immutable → Can't be changed after creation.
        example: tuple, str, int.

3. What are the main differences between lists and tuples in Python ?

          ans = List: Mutable, defined with []
                Tuple: Immutable, defined with ()

4. Describe how dictionaries store data ?

          ans = Dictionaries store data as key–value pairs using a hash table internally.
              example = student = {"name": "John", "age": 20}

5. Why might you use a set instead of a list in Python ?
          
          ans = Sets automatically remove duplicates.
          They are faster for membership tests (in).

6. What is a string in Python, and how is it different from a list ?

        ans = A string is a sequence of characters (immutable).
              A list is a sequence of elements (mutable).

7. How do tuples ensure data integrity in Python ?

          ans = Since tuples are immutable, their values cannot be changed .

8. What is a hash table, and how does it relate to dictionaries in Python ?

          ans =  A hash table maps keys → values using hash functions.
                 Dictionaries in Python are implemented using hash tables.

9. Can lists contain different data types in Python ?
         
          ans = yes .

10.  Explain why strings are immutable in Python ?

            ans =  For security, memory optimization, and hashability .

11. What advantages do dictionaries offer over lists for certain tasks ?

              ans =  Faster lookup using keys.
                     Data is stored with labels instead of indexes.

12. Describe a scenario where using a tuple would be preferable over a list ?

          ans = When you want data that should not change .

13. How do sets handle duplicate values in Python ?

            ans = Sets ignore duplicate values automatically.
                    s = {1, 2, 2, 3}
                    print(s)

14. How does the “in” keyword work differently for lists and dictionaries ?

            ans = List = checks if element exists in the list.
                  Dictionary = checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not ?

          ans = No .

16. What is a nested dictionary, and give an example of its use case ?

        ans = A dictionary inside another dictionary.

          "student1": {"name": "Alice", "age": 20}

17. Describe the time complexity of accessing elements in a dictionary ?


          ans = Average case: O(1) (very fast) , Worst case: O(n) (rare).

18. In what situations are lists preferred over dictionaries ?

        ans  = When order matters.When you just need a collection of items without key–value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

          ans = they are unordered because keys are accessed by hash, not index.

20.  Explain the difference between a list and a dictionary in terms of data retrieval ?
          
          ans = List = retrieved by index, Dictionary = retrieved by key

# Practical Questions

In [3]:
# 01.  Write a code to create a string with your name and print it ?

name = "Hrushikesh"
print(name)

Hrushikesh

In [7]:
#  02. Write a code to find the length of the string "Hello World" ?

s = "Hello World"
print(len(s))

11

In [8]:
# 03 Write a code to slice the first 3 characters from the string "Python Programming"?

s = "python programming"
print(s[0:3])

pyt

In [10]:
#04.  Write a code to convert the string "hello" to uppercase ?

s = "hello"
print(s.upper())

HELLO

In [18]:
# 05. P Write a code to replace the word "apple" with "orange" in the string "I like apple"P ?

s = " i like apple"
print(s.replace("apple","orange"))

 i like orange

In [20]:
# 06. Write a code to create a list with numbers 1 to 5 and print it ?


s=[1,2,3,4,5]
print(s)

[1, 2, 3, 4, 5]

In [21]:
# 07.  Write a code to append the number 10 to the list [1, 2, 3, 4] ?

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [22]:
#  08. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [24]:
# 09. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [25]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50] ?

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [27]:
#  11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [29]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])   # blue

blue

In [30]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

nums = (10, 20, 5, 15)
print(min(nums))   # 5

5

In [31]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))   # 1

1

In [32]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)   # False

False

In [33]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [34]:
#  17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [35]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [36]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))   # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [37]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [38]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [39]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

person = {'name': 'Alice', 'age': 30}
print(person["name"])   # Alice

Alice

In [41]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [42]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)   # True

True

In [43]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [44]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[7, 27, 35, 76, 82]

In [45]:
# 28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [46]:
#  29.  Write a code to combine two dictionaries into one and print the result ?
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [47]:
# 30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
word_set = set(words)
print(word_set)

{'banana', 'apple', 'cherry'}